simpifca.js
[{"id":"84a4a018.bf166","type":"inject","z":"b7e4db3d.91d828","name":"","topic":"","payload":"meu carro Fiat Uno quebrou o freio","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["c0ba1164.4a4a7"]]},{"id":"fba2eb8b.294d58","type":"natural-language-understanding","z":"b7e4db3d.91d828","name":"NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":490,"y":280,"wires":[["f2470ab8.9d10f8"]]},{"id":"c0ba1164.4a4a7","type":"function","z":"b7e4db3d.91d828","name":"","func":"// msg = {\n//     payload: msg.payload,\n//     nlu_options:{\n//         entity_model:\"10:5d0bdf6c-6f7f-41a4-ab94-2975efea7dbe\"\n//     },\n//     relations_model:\"10:5d0bdf6c-6f7f-41a4-ab94-2975efea7dbe\"\n// };\nmsg.payload = msg.payload;\nmsg.nlu_options = {\n    entity_model:\"10:5d0bdf6c-6f7f-41a4-ab94-2975efea7dbe\"\n};\nmsg.relations_model = \"10:5d0bdf6c-6f7f-41a4-ab94-2975efea7dbe\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["fba2eb8b.294d58"]]},{"id":"e70a5905.1358b8","type":"http in","z":"b7e4db3d.91d828","name":"","url":"/nlu","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["545cca49.f5ce7c"]]},{"id":"545cca49.f5ce7c","type":"change","z":"b7e4db3d.91d828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.texto","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":340,"wires":[["c0ba1164.4a4a7"]]},{"id":"f2470ab8.9d10f8","type":"function","z":"b7e4db3d.91d828","name":"","func":"msg.payload=msg.features;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["67cf1c49.f69764","ebc9d246.0ece68"]]},{"id":"67cf1c49.f69764","type":"debug","z":"b7e4db3d.91d828","name":"","active":true,"console":"false","complete":"false","x":830,"y":360,"wires":[]},{"id":"ebc9d246.0ece68","type":"http response","z":"b7e4db3d.91d828","name":"","statusCode":"","headers":{},"x":850,"y":220,"wires":[]}]